<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>  
    <session-factory>  
      <!-- 配置hibernate基本信息 -->  
      <!-- 1.数据源配置在IOC容器中，此处不需要额外配置 -->  
      <!-- 2.关联的.hbm.xml文件也在IOC容器配置SessionFactory时配置 -->  
      <!-- 3.此处配置hibernate的基本信息：数据库方言、SQL显示及格式化，及生成数据表的策略，二级缓存等 -->  
      <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>  
      <property name="hibernate.show_sql">false</property>  
      <property name="hibernate.format_sql">true</property>  
      <property name="hibernate.hbm2ddl.auto">update</property>
      <mapping resource="mapping/Area.hbm.xml"/>
      <mapping resource="mapping/User.hbm.xml"/>
      <mapping resource="mapping/Order.hbm.xml"/>
      <mapping resource="mapping/Goods.hbm.xml"/>
    </session-factory>  
</hibernate-configuration>  